.sidebar {
    visibility: hidden;
    position: absolute;
    width: 20rem;
    min-height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    z-index: 999;
    transform: translateX(-100rem);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.sidebar.open {
    visibility: visible;
    transform: translateX(0);
    transition: all .3s;
}

.background {
    visibility: visible;
    background: #000000;
}

.nav {
}

.nav a {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    color: black;
    text-decoration: none;
    margin-top: 40px;
}

.nav a:hover {
    text-decoration: underline;
    color: #0059B2;
}

.nav a.active {
    color: #58ACFF;
}

.close {
    display: flex;
    justify-content: flex-end;
    margin-left: 291px;
}

.close img {
    cursor: pointer;
}
