.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-top: 20px;
}

.clock {
}

.watch {
}

.watch strong {
}

.more {
    margin-top: 8px;
    font-size: 13px;
    color: grey;
}