.item {
    border-bottom: 1px solid #E5E5E5;
}

.item:last-of-type {
    border: none;
}

.users {
    border-collapse: collapse;
    margin-top: 20px;
    width: 600px;
}

.buttonsContainer {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.contain {

}

.thead {
    font-weight: bold;
    background-color: #E5E5E5;
}

.nameCol {
    padding: 10px;
}

.ageCol {
    font-weight: bold;
}