.mainBlock {
    padding-bottom: 20px;
}

.App {
    --header_height: 60px;
    font-family: 'Montserrat', sans-serif;
}

.hw {
    margin: 20px 0 50px 50px;
    width: 650px;
}

.hwTitle {
    margin: 10px 0 5px 50px;
    font-weight: bold;
}
